# Ignore the entire Cattery folder regardless of where it is
**/Cattery/

# Ignore the heavy model files specifically
*.cat

# Ignore Python caches
**/__pycache__/
*.pyc

# Ignore Nuke UI and temp files
.nuke/uistate.ini
.nuke/FileChooser_Favorites.pref
.nuke/recent_files
*.log